<div class="add-server">
    <div class="add-server-header">
        <label class="header-label" for="">Add Domain Details</label>
        <button class="close-button">X</button>
    </div>
    <div class="add-server-body">
        <label for="">Domain Name *</label>
    <input [(ngModel)]="server.domain" type="text" name="" id="">
    <label for="">Storage*</label>
    <input [(ngModel)]="server.storage" type="text" name="" id="">
    <label for="">Monthly Visitor*</label>
    <input [(ngModel)]="server.monthlyVisitorCapacity" type="text" name="" id="">
    <label for="">Sub Domain</label>
    <input [(ngModel)]="server.monthlyVisitorCapacity" type="text" name="" id="">
    <button>x</button>
    <button>Add More</button>
    </div>
    <div class="add-server-footer">
        <button class="close-btn">Close</button>
        <button class="save-btn">Save Changes</button>
    </div>
</div>