<div class="contianer">
  <div class="side-pannel col">

  </div>
  <div class="main-pannel col">
    <div class="dash-header">
      <div class="header-title">Site Details</div>
      <button class="addSite-btn">+Add New Site</button>
    </div>
    <div class="search-bar-container">
      <div class="total-entries">
        <span>Show</span>
        <input class="show-entries" type="number" name="pageNumber" id="pageNumber" (input)="getEntries($event)" [value]="entryValue">
        <span>Entries</span>
      </div>
      <div class="search-bar">
        <input type="text" name="serach-bar" id="search-bar" placeholder="Seaarch Records"
          (input)="searchDomain($event)">
      </div>
    </div>
    <div>
      <ul class="nav-bar">
        <li class="domain">Domain & Plan Name</li>
        <li>Storage</li>
        <li>Monthly Visitor</li>
        <li>Domains</li>
        <li>Status</li>
      </ul>
    </div>
    <div *ngIf="filteredList.length>0">
      <div *ngFor="let server of filteredList;let i = index">
        <app-server-deatials [serverDetails]="server"></app-server-deatials>
      </div>
    </div>
    <div *ngIf="filteredList.length<=0">
        <div class="not-result">
            <label for="resultNotFound">No Result Found :(</label>
        </div>
    </div>
  </div>
</div>