<div class="contianer">
  <div class="side-pannel col">
    <div>
      <div class="pic-container">

      </div>
      <div class="nameEmail">
        <label class="name" for="name">John Doe</label><br>
      <label class="email" for="email">email@email.com</label>
      </div>
    </div>
      <ul class="side-menu">
        <li class="menu-item">Dashboard</li>
        <li  class="menu-item active">Site Details</li>
        <li  class="menu-item">Migrations</li>
        <li  class="menu-item">Backups</li>
        <li  class="menu-item">Support Tickets</li>
        <li  class="menu-item"> Open New Tickets</li>
      </ul>
  </div>
  <div class="main-pannel col">
    <div class="dash-header">
      <div class="header-title">Site Details</div>
      <button class="addSite-btn" (click)="addServer($event)">+Add New Site</button>
    </div>
    <div class="search-bar-container">
      <div class="total-entries">
        <span>Show</span>
        <input class="show-entries" type="number" name="pageNumber" id="pageNumber" (input)="getEntries($event)" [value]="entryValue">
        <span>Entries</span>
      </div>
      <div class="search-bar">
        <input type="text" name="serach-bar" id="search-bar" placeholder="Seaarch Records"
          (input)="searchDomain($event)">
      </div>
    </div>
    <div>
      <ul class="nav-bar">
        <li class="domain">Domain & Plan Name</li>
        <li>Storage</li>
        <li>Monthly Visitor</li>
        <li>Domains</li>
        <li>Status</li>
      </ul>
    </div>
    <div *ngIf="filteredList.length>0">
      <div *ngFor="let server of filteredList;let i = index">
        <app-server-deatials [serverDetails]="server"></app-server-deatials>
      </div>
    </div>
    <div *ngIf="filteredList.length<=0">
        <div class="not-result">
            <label for="resultNotFound">No Result Found :(</label>
        </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="show-modal">
  <app-add-modal (sendData)="sendDataToserver($event)"></app-add-modal>
</div>
<div class="modal-backdrop" *ngIf="showModal">

</div>