.active{
    background-color: #CDF5F4;
    color:#33CC86;
    border: 1px solid #33CC86;
}
.inactive{
    background-color:#FFE5DD ;
    color: #FF7F57;
    border: 1px solid #FF7F57;
}
.primary{
    background-color: #dee5ff;
    color: #5b7cfd;
    border: 1px solid #5b7cfd;
}
.add-on{
    background-color: #fde6a6;
    color: #e78b02;
    border: 1px solid #e78b02;
}
.staging{
    background-color: #dacbfd;
    color: #872efa;
    border: 1px solid #872efa;
}
.status-box{
    width: 60px;
    height: 20px;
    padding: 6px;
    vertical-align: middle;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 17px;
}